<% include header.ejs %>
	<main>
		<section class="section section--cdc">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
						
						<h1 class="box__title">Job Vacancies</h1>

						<% if ( typeof user != "undefined" && user != null ) { %>
					
						<div class="box box--form">

							<!-- CDC Form -->
							<form action="" id="cdc-form">
								<!-- CDC Form Content -->
								<div class="form-group">
									<label for="cdc-form-category">Descriptions</label>
								  	<textarea name="content" class="cdc-form__content form-control" id="cdc-form-content" placeholder="Post descriptions"></textarea>
								</div>
								<!-- CDC Form Category -->
								<div class="form-group">
									<label for="cdc-form-category">Category</label>
									<select name="category" class="cdc-form__category form-control" id="cdc-form-category">
								  		<option value="1">Walk Interview</option>
										<option value="2">Job Fair</option>
									</select>
								</div>
								<!-- CDC Form Image -->
								<div class="form-group">
									<label for="cdc-form-image">Image</label>
									<input type="file" name="image" class="cdc-form__image form-control" id="cdc-form-image">
								</div>
								<!-- CDC Form Submit Button -->
								<input class="btn-lg btn-primary btn-block" type="submit" value="Post">
							</form><!-- CDC Form End -->
						</div>

						<% } else { %>
						<div class="well">Please <a href="/login">login</a> to post job vacancy</div>
						<% } %>

						<!-- All CDC Posts -->
						<div class="posts-container" id="posts"></div>
						<!-- All CDC Posts End -->

					</div>
				</div>
			</div><!-- Container End -->
		</section>
	</main>

	<footer class="footer">
        <div class="container">
            <p>&copy; CDC &amp; TRACER STUDY - ITI</p>
        </div>
    </footer>

	<!-- Handlebars Templates -->
	<script type="text/x-handlebars-template" id="cdc-post-template">
		{{#each posts}}
		<div class="box post" id="{{id}}">
			<div class="post__user">
				<a href="/user/{{user_id}}" class="post__user__name">{{first_name}} {{last_name}}</a>
			</div>
			<div class="post__content">{{breaklines content}}</div>
			<div class="post__category"><span class="">Category : </span>{{category_name}}</div>
		</div>
		{{/each}}
	</script>

	<script type="text/x-handlebars-template" id="cdc-post-item-template">
		<div class="box post" id="{{id}}">
			<div class="post__user">
				<a href="/user/{{user.id}}" class="post__user__name">{{user.first_name}} {{user.last_name}}</a>
			</div>
			<div class="post__content">{{breaklines content}}</div>
			<div class="post__category"><span class="">Category : </span>{{category_name}}</div>
		</div>
	</script>

	<script type="text/x-handlebars-template" id="cdc-post-with-image-item-template">
		<div class="box post" id="{{id}}">
			<div class="post__user">
				<img src="/images/{{user_image}}" class="post__user__picture" alt="PP"> <a href="/user/{{user.id}}" class="post__user__name">{{user.first_name}} {{user.last_name}}</a>
			</div>
			<div class="post__content">{{breaklines content}}</div>
			<div class="post__category"><span class="">Category : </span>{{category_name}}</div>
		</div>
	</script>
	
    <!-- Scripts -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/vendor/jquery-1.11.0.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/vendor/handlebars-v2.0.0.js"></script>
	<script src="/js/cdc.js"></script>
</body>
</html>