	<footer class="footer">
		<div class="container">
			&copy; CDC &amp; TRACER STUDY - ITI
		</div>
	</footer>

	<!-- Scripts -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/vendor/jquery-1.11.0.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/vendor/lightbox.min.js"></script>
	<script src="/js/vendor/handlebars-v2.0.0.js"></script>
	<script src="/js/home.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>