<% include header.ejs %>
	<main>
		<section class="section section--home">
			<div class="container">
					<h1 class="home__title">CDC - Institut Teknologi Indonesia</h1>
				</div>
			</div>
		</section>
		<section class="section section--odd">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="section__title">CDC</div>
						<div class="section__subtitle">Lorem ipsum dolor sit amet</div>
						<div class="section__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas nemo laboriosam veritatis, numquam repellat quo porro natus assumenda eius inventore libero architecto expedita provident corrupti a accusantium iste laudantium officia.</div>
					</div>
					<div class="col-lg-6 col-md-6"></div>
				</div>
			</div>
		</section>
		<section class="section section--even">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6"></div>
					<div class="col-lg-6 col-md-6">
						<div class="section__title">Tracer Study</div>
						<div class="section__subtitle">Lorem ipsum dolor sit amet</div>
						<div class="section__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam minus at nam sequi tempora, temporibus impedit ipsa quo quidem. Dolores esse laudantium incidunt consequuntur maiores assumenda hic fuga quo aut!</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--odd">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<h2 class="information-title">Recent News</h1>
						<ul class="listview listview--news">
							<li>
								<a href="#">
									<div class="news__title">Judul Berita 1</div>
									<small class="news__date">Jan 20, 2015</small>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="news__title">Judul Berita 1</div>
									<small class="news__date">Jan 20, 2015</small>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="news__title">Judul Berita 1</div>
									<small class="news__date">Jan 20, 2015</small>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="news__title">Judul Berita 1</div>
									<small class="news__date">Jan 20, 2015</small>
								</a>
							</li>
						</ul>
					</div><!-- .col -->
					<div class="col-lg-6 col-md-6">
						<h2 class="information-title">Events</h1>
						<ul class="listview listview--events">
							<li>
								<a href="#">
									<div class="event__date col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<div class="event__date__day">14</div>
										<div class="event__date__month">Feb</div>
									</div>
									<div class="event__title col-lg-10 colmd-10 col-xs-10">Event's Title</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="event__date col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<div class="event__date__day">14</div>
										<div class="event__date__month">Feb</div>
									</div>
									<div class="event__title col-lg-10 colmd-10 col-xs-10">Event's Title</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="event__date col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<div class="event__date__day">14</div>
										<div class="event__date__month">Feb</div>
									</div>
									<div class="event__title col-lg-10 colmd-10 col-xs-10">Event's Title</div>
								</a>
							</li>
							<li>
								<a href="#">
									<div class="event__date col-lg-2 col-md-2 col-sm-2 col-xs-2">
										<div class="event__date__day">14</div>
										<div class="event__date__month">Feb</div>
									</div>
									<div class="event__title col-lg-10 colmd-10 col-xs-10">Event's Title</div>
								</a>
							</li>
						</ul>
					</div><!-- .col -->
				</div>
			</div>
		</section>
	</main>
<% include footer.ejs %>