<% include header.ejs %>
	<main>
		<section class="section section--profile">
			<div class="container">
				<h1 class="box__title">Profile</h1>
				<div class="box__content">
					<p><%= profile %></p>

					<div class="row visi">
						<h2 class="box__title">Visi CDC dan Tracer Study - ITI</h2>
						<p>
							<p class="text-center">
							Merupakan Pusat Pengembangan Sumberdaya Kewirausahaan Berbasis Teknologi yang Kompeten dan Berkualitas Bagi Lulusan ITI
							</p>
						</p>
					</div>

					<div class="row misi">
						<h2 class="box__title">Misi CDC dan Tracer Study - ITI</h2>
						<p class="text-center">
							1.	Menyiapkan program kewirausahaan 		(knowledge & soft skill) didalam 		kurikulum untuk menciptakan 			wirausahawan yang inovatif yang 		berbasis teknologi.
						</p>
						<p class="text-center">
							2.	Memberikan dukungan kepada dunia usaha dan pemerintah Indonesia dalam 	          meningkatkan kemajuan dunia usaha melalui kontribusi SDM yang kompeten.
						</p>
						<p class="text-center">
							3.	Menjadi penghubung antara ITI dengan 	 dunia industri dalam informasi				ketenagakerjaan dan peluang-peluang 	usaha.
						</p>
						<p class="text-center">
							4.	Update terhadap perkembangan teknologi 	   dan dunia industri.
						</p>

						<p class="text-center">
							5.	Membangun citra ITI secara positif 		karena mampu menempatkan tenaga kerja 	  yang handal di dunia industri.
						</p>
					</div>
					
					<div class="row alamat">
						<div class="col-lg-4 col-md-4">
							<h2 class="box__subtitle">Contact Us</h2>
							<p>Sekretariat CDC - ITI</p>
							<p>Gedung CDC - ITI</p>
							<p>Jl. Raya Puspiptek Serpong</p>
							<p>Institut Teknologi Indonesia</p>
							<p>Telp (021) 7560545</p>
							<p>Fax (021) 7560542</p>
							<p>Website : www.iti.ac.id</p>
							<p>HARI KERJA - SENIN S/D JUMAT</p>
							<p>JAM KERJA - 08.00 S/D 16.00</p>
						</div>
						<div class="col-lg-8 col-md-8">
							<h2 class="box__subtitle">Peta ITI</h2>
							<div class="map" id="map-iti"></div>
						</div>
					</div>

				</div>
			</div>
		</section>
	</main>

	<footer class="footer">
		<div class="container">
			&copy; CDC &amp; TRACER STUDY - ITI
		</div>
	</footer>
	<script src="/js/vendor/jquery-1.11.0.min.js"></script>
	<!-- <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script> -->
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk9FlkK8LpyL6qU_tRs7Y8im6KJuCr79k">
	</script>
	<script>
		function initialize() {
			var mapOptions = {
				center: { lat: -6.343876, lng: 106.675567 },
				zoom: 16,
				scrollwheel: false
			};
			var map = new google.maps.Map( document.getElementById('map-iti'), mapOptions );
		}
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</body>
</html>
