<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Career Development Center - ITI</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/css/style.css">

		<script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
	<nav class="navbar navbar-primary navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">CDC - ITI</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/cdc">CDC</a></li>
					<li class="active dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Tracer Study <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/ts-form">Isi Form</a></li>
							<li><a href="/ts-statistics">Lihat Statistik</a></li>
						</ul>
					</li>
					<li><a href="/gallery">Gallery</a></li>
					<li><a href="/profile"> Profile</a></li>
					<!-- <li><a href="/faq">FAQ</a></li> -->
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div><!--/.navbar-collapse -->
		</div>
	</nav>

	<main>
		<section class="section section--ts-form">

			<div class="container">
				
				<div id="loader-container">
					<img class="loader" src="/img/spinner.gif" alt="Loading..">
				</div>

				<div class="hidden" id="information-container">
					<div class="callout callout-info information">
						Terima kasih atas partisipasinya dalam mengisi form Tracer Study, anda dapat melihat statistik di <a href="/ts-statistics">Tracer Study Statistik</a>
					</div>
				</div>
				
				<div class="row hidden" id="form-container">
					<div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
						<div class="box">
							
							<h1 class="box__title">Tracer Study Form</h1>
						
							<form action="" method="post" id="tracer-study-form">

								<div class="form-section" id="input-group-bekerja-studi">
									
									<h2 class="box__subtitle">Bekerja ketika sedang studi</h2>

									<div class="form-group">
										<label for="input-bekerja-studi">Apakah Anda pernah bekerja ketika sedang studi di Institut Teknolog Indonesia</label>
										<select class="form-control" name="bekerja_studi" id="input-bekerja-studi" required>
											<option value="1">Ya</option>
											<option value="2">Tidak</option>
										</select>
									</div>

									<div class="form-group">
										<label for="input-jenis-pekerjaan-studi">Apakah jenis pekerjaan tersebut?</label>
										<select class="form-control" name="jenis_bekerja_studi" id="input-jenis-pekerjaan-studi" required>
											<option value="0">-</option>
											<option value="1">Bimbingan / Les Privat</option>
											<option value="2">Asisten dosen / Praktikum</option>
											<option value="3">Membantu usaha Orang Tua</option>
											<option value="4">Lainnya</option>
										</select>
									</div>

									<div class="form-group">
										<label for="input-status">Kondisi sekarang</label>
										<select class="form-control" name="status" id="input-status" required>
											<option value="1">Sudah Bekerja</option>
											<option value="2">Belum bekerja</option>
										</select>
									</div>

								</div>

								<hr>

								<div class="form-section" id="input-group-search-work">
									
									<h2 class="box__subtitle">Mencari Pekerjaan</h2>

									<div class="form-group">
										<label for="input-searching-1">Apakah Anda aktif mencari pekerjaan pada tahun akhir ketika studi?</label>
										<select class="form-control" name="cari_aktif" id="input-searching-1" required>
											<option value="1">Ya</option>
											<option value="2">Tidak</option>
										</select>
									</div>

									<div class="form-group">
										<label for="input-searching-2">Darimana Anda memperoleh informasi kesempatan pekerjaan?</label>
										<select class="form-control" name="cari_informasi" id="input-searching-2" required>
											<option value="0">-</option>
											<option value="1">Media CDC - ITI (Mading, Website / Milist)</option>
											<option value="2">Bursa Kerja di Perguruan Tinggi Lain</option>
											<option value="3">Iklan di Media</option>
											<option value="4">Keluarga / teman / kenalan</option>
											<option value="5">Pendekatan ke perusahaan</option>
											<option value="6">Perusahaan melakukan pendekatan</option>
											<option value="7">Internet</option>
											<option value="8">Lainnya</option>
										</select>
									</div>

									<div class="form-group">
										<label for="input-searching-3">Apakah jenis pekerjaan yang Anda minati / harapkan ketika mencari pekerjaan?</label>
										<select class="form-control" name="cari_jenis" id="input-searching-3" required>
											<option value="0">-</option>
											<option value="1">Manufaktur</option>
											<option value="2">Industri Kimia / Petrokimia</option>
											<option value="3">Industri Makanan</option>
											<option value="4">Industri Tekstil</option>
											<option value="5">Perbankan</option>
											<option value="6">Keuangan</option>
											<option value="7">Jasa</option>
											<option value="8">Konsultan Teknik</option>
											<option value="9">Marketing</option>
											<option value="10">Pendidikan</option>
											<option value="11">Lainnya</option>
										</select>
									</div>

								</div>

								<hr>
								
								<div class="form-section" id="input-group-work">

									<h2 class="box__subtitle">Pekerjaan</h2>
									
									<div class="form-group">
										<label for="input-nama-perusahaan">Apakah nama perusahaan tempat anda bekerja pada saat ini?</label>
										<input type="text" name="nama_perusahaan" class="form-control" id="input-nama-perusahaan">
									</div>

									<div class="form-group">
										<label for="input-lama-menunggu">Waktu tunggu anda mendapatkan pekerjaan</label>
										<select name="lama_menunggu" class="form-control" id="input-lama-menunggu">
											<option value="0">-</option>
											<option value="1">Sudah mendapatkan pekerjaan sebelum lulus</option>
											<option value="2">Dibawah 1 bulan</option>
											<option value="3">1 - 2 bulan</option>
											<option value="4">3 - 5 bulan</option>
											<option value="5">5 bulan - 1 tahun</option>
											<option value="6">Lebih dari 1 tahun</option>
										</select>
									</div>

									<div class="form-group">
										<label for="input-lama-bekerja">Lama bekerja (dalam tahun)</label>
										<input type="number" name="lama_bekerja" class="form-control" id="input-lama-bekerja" value="0" required>
									</div>

									<div class="form-group">
										<label for="input-perusahaan-pribadi">Apakah anda bekerja pada perusahaan pribadi / keluarga?</label>
										<select name="perusahaan_pribadi" class="form-control" id="input-perusahaan-pribadi" required>
											<option value="0">-</option>
											<option value="1">Ya</option>
											<option value="2">Tidak</option>
										</select>
									</div>

									<div class="form-group">
										<label for="input-perusahaan-kepemilikan">Siapakah kategori kepemilikan persusahaan tersebut diatas?</label>
										<select name="perusahaan_kepemilikan" class="form-control" id="input-perusahaan-kepemilikan" required>
											<option value="0">-</option>
											<option value="1">Pemerintahan / BUMN</option>
											<option value="2">Industri Swasta Nasional</option>
											<option value="3">Industri Multinasional</option>
											<option value="4">Non Profit</option>
											<option value="5">Lainnya</option>
										</select>
									</div>

									<div class="form-group">
										<label for="input-perusahaan-bidang">Apakah bidang utama perusahaan tersebut diatas?</label>
										<select name="perusahaan_bidang" class="form-control" id="input-perusahaan-bidang" required>
											<option value="0">-</option>
											<option value="1">Manufaktur</option>
											<option value="2">Industri Kimia / Petrokimia</option>
											<option value="3">Industri Makanan</option>
											<option value="4">Industri Tekstil</option>
											<option value="5">Perbankan</option>
											<option value="6">Keuangan</option>
											<option value="7">Jasa</option>
											<option value="8">Konsultan Teknik</option>
											<option value="9">Marketing</option>
											<option value="10">Pendidikan</option>
											<option value="11">Lainnya</option>
										</select>
									</div>
									
									<div class="form-group">
										<label for="input-gaji">Berapakah rata-rata pendapatan anda untuk setiap bulannya?</label>
										<select name="gaji" class="form-control" id="input-gaji" required>
											<option value="0">-</option>
											<option value="1">500rb - 1 juta</option>
											<option value="2">1 juta - 2 juta</option>
											<option value="3">2 juta - 3 juta</option>
											<option value="4">3 juta - 5 juta</option>
											<option value="5">Lebih dari 5 juta</option>
										</select>
									</div>

									<div class="form-group">
										<label for="input-kecocokan">Kecocokan dengan jurusan kuliah</label>
										<select name="kecocokan" class="form-control" id="input-kecocokan" required>
											<option value="0">-</option>
											<option value="1">Sesuai</option>
											<option value="2">Masih ada kaitannya</option>
											<option value="3">Tidak berkaitan sama sekali</option>
										</select>
									</div>
									
									
									<div class="form-group">
										<label for="input-pekerjaan">Jabatan anda saat ini</label>
										<input type="text" name="pekerjaan" class="form-control" id="input-pekerjaan">
									</div>
									
									<div class="form-group">
										<label for="input-alamat-pekerjaan">Alamat pekerjaan</label>
										<textarea class="form-control" name="alamat_pekerjaan" id="input-alamat-pekerjaan"></textarea>
									</div>

								</div>

								<hr>

								<div class="form-section" id="input-group-masukan">

									<h2 class="box__subtitle">Masukan Bagi Institut Teknologi Indonesia</h2>

									<div class="form-group">
										<label for="input-manfaat">Apakah proses dan materi pendidikan Institut Teknologi Indonesia bermanfaat untuk pekerjaan Anda ?</label>
										<select class="form-control" name="manfaat" id="input-manfaat" required>
											<option value="Ya">Ya</option>
											<option value="Sebagian">Sebagian</option>
											<option value="Tidak">Tidak</option>
										</select>
									</div>
									
									<div class="form-group">
										<label for="input-masukan">Tambahan yang diperlukan bagi lulusan Institut Teknologi Indonesia ?</label>
										<textarea class="form-control" name="masukan" id="input-masukan" required></textarea>
									</div>
									
									<div class="form-group">
										<label for="input-saran">Saran untuk Institut Teknologi Indonesia ?</label>
										<textarea class="form-control" name="saran" id="input-saran" required></textarea>
									</div>

								</div>
								
								<div class="btn-toolbar">
									<button type="submit" class="btn btn-success pull-right" id="button-submit">Submit</button>
								</div>

							</form>

						</div>
					</div>
				</div>

			</div>

		</section>
	</main>

	<footer class="footer">
		<div class="container">
			&copy; CDC &amp; TRACER STUDY - ITI
		</div>
	</footer>
	
	<!-- Scripts -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/vendor/jquery-1.11.0.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/tracerstudy.js"></script>
	<script src="/js/ts-form.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>