<% include header.ejs %>
	<main>
		<section class="section section--statistics">
			<div class="container">
				<div class="box box--chart">

					<h1 class="box__title">Tracer Study Statistics</h1>
					
					<div class="box box--general">
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<b>Total responden :</b>
								<p><span id="total-responden"></span> Alumni</p>
							</div>
							<div class="col-lg-4 col-md-4">
								<b>Total responden yang telah bekerja :</b>
								<p><span id="total-responden-work"></span> Alumni</p>
							</div>
							<div class="col-lg-4 col-md-4">
								<b>Total responden yang belum bekerja :</b>
								<p><span id="total-responden-not-work"></span> Alumni</p>
							</div>
						</div>
					</div>

					<hr>

					<div class="chart-container" id="js-chart-responden-total-container">
						<img src="/img/spinner.gif" class="loader" id="loader-chart-responden-total" alt="Loading..">
						<div class="chart" id="js-chart-responden-total"></div>
					</div>

					<div class="chart-container" id="js-chart-work-percentage-container">
						<img src="/img/spinner.gif" class="loader" id="loader-chart-work-percentage" alt="Loading..">	
						<div class="chart" id="js-chart-work-percentage"></div>
					</div>

					<div class="chart-container" id="js-chart-work-total-container">
						<img src="/img/spinner.gif" class="loader" id="loader-chart-work-total" alt="Loading..">
						<div class="chart" id="js-chart-work-total"></div>
					</div>
					
					<div class="row">
						
						<div class="chart-container col-lg-6 col-md-6" id="js-chart-salary-percentage-container">
							<img src="/img/spinner.gif" class="loader" id="loader-chart-salary-percentage" alt="Loading..">
							<div class="chart" id="js-chart-salary-percentage"></div>
						</div>

						<div class="chart-container col-lg-6 col-md-6" id="js-chart-salary-total-container">
							<img src="/img/spinner.gif" class="loader" id="loader-chart-salary-total" alt="Loading..">
							<div class="chart" id="js-chart-salary-total"></div>
						</div>

					</div>
					
					<div class="row">

						<div class="chart-container col-lg-12" id="js-chart-fow-percentage-container">
							<img src="/img/spinner.gif" class="loader" id="loader-chart-fow-percentage" alt="Loading..">
							<div class="chart" id="js-chart-fow-percentage"></div>
						</div>

						<div class="chart-container col-lg-12" id="js-chart-fow-total-container">
							<img src="/img/spinner.gif" class="loader" id="loader-chart-fow-total" alt="Loading..">
							<div class="chart" id="js-chart-fow-total"></div>
						</div>

					</div>

					<div class="row">

						<div class="chart-container col-lg-6 col-md-6" id="js-chart-relation-percentage-container">
							<img src="/img/spinner.gif" class="loader" id="loader-chart-relation-percentage" alt="Loading..">
							<div class="chart" id="js-chart-relation-percentage"></div>
						</div>

						<div class="chart-container col-lg-6 col-md-6" id="js-chart-relation-total-container">
							<img src="/img/spinner.gif" class="loader" id="loader-chart-relation-total" alt="Loading..">
							<div class="chart" id="js-chart-relation-total"></div>
						</div>

					</div>

				</div>
			</div>
		</section>
	</main>

	<footer class="footer">
		<div class="container">
			&copy; CDC &amp; TRACER STUDY - ITI
		</div>
	</footer>
	
	<!-- Scripts -->
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/vendor/jquery-1.11.0.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/vendor/highcharts.js"></script>
	<script src="/js/tracerstudy.js"></script>
	<script src="/js/ts-statistics.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>