/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	padding-top: 50px;
	background: rgb(247, 247, 247);
	font-family: 'Open Sans', sans-serif;
}
h1,
.h1 {
	font-size: 2em;
}
.form-control:focus {
	box-shadow: none;
}
.row img {
	max-width: 100%;
	height: auto;
}
.image-container {
	overflow: hidden;
	text-align: center;
}
.loader {
	display: block;
	margin: 25px auto;
}
.callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
	background: #ffffff;
}
.callout-info {
	border-left-color: #5bc0de;
}
.box {
	display: block;
	padding: 20px;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.box--login,
.box--register {
	margin: 0 auto;
	/*text-align: center;*/
}
.box--login {
	max-width: 400px;
	padding: 20px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.7);
}
.box--register {
	max-width: 800px;
}
.post {
	margin-top: 15px;
}
.post:hover {
	-webkit-box-shadow: 0 0 15px -5px #ccc;
	-moz-box-shadow: 0 0 15px -5px #ccc;
	box-shadow: 0 0 15px -5px #ccc;
}
.section {
	padding: 20px 0;
}
.section--dashboard {
	min-height: 100vh;
}
.section--home {
	background-image: url('../img/bakrie.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	min-height: 500px;
}
.section--login {
	height: 90vh;
	padding-top: 50px;
	background-image: url('../img/bakrie.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.section--login .box__title {
	border-color: #fff;
}
.box__title,
.box__subtitle,
.jumbotron__title {
	/*color: #03A9F4;*/
	color: #0E5C83;
}
.box__title {
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 15px;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #d5d5d5;
}
.navbar-primary {
	background: #0E5C83;
	box-shadow: 0 0 15px -5px #000;
}
.navbar-brand,
.navbar-nav>li>a {
	color: #fff;
	text-shadow: none;
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
	color: #0E5C83;
	background-color: #fff;
}
.navbar-primary .navbar-nav > .active > a {
	color: #0E5C83;
	background-image: none;
	background-color: #fff;
}
.navbar-toggle .icon-bar {
	background-color: #fff;
}
.footer {
	/*margin-top: 25px;*/
	padding: 20px;
	background-color: #212121;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	color: #fff;
}
.post__user__name {
	display: inline-block;
	font-size: larger;
	font-weight: bold;
}
.post__user__picture {
	width: 25px;
	height: 25px;
	display: inline-block;
}
.post__content,
.post__category {
	margin-top: 10px;
}
.post__category {
	padding-top: 10px;
	border-top: 1px solid #cecece;
}
.cdc-form__content {
	height: 80px;
}
.gallery {
	display: inline-block;
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 25px;
}
.form-group {
	margin-bottom: 20px;
}
.dropdown-menu {
	padding: 0;
	border-radius: 0;
}
.dropdown-menu > li > a {
	padding: 10px 15px;
	color: #fff;
	background: #0E5C83;
}
.dropdown-menu > li > a:hover {
	background-image: none;
	background-color: #fff;
}
.box--register .form-group .field-double-height {
	min-height: 118px;
}
.chart-container {
	margin-top: 40px;
}
.user__label {
	margin-top: 10px;
	font-weight: bold;
}
.user__name {
	margin-top: 10px;
}
.text-information {
	margin-top: 15px;
}
.col-thumbnail {
	display: inline-block;
	height: auto;
}
.gallery {
	min-height: 1000px;
}
.map {
	width: 100%;
	height: 400px;
}
.navbar-brand {
	font-weight: bold;
}
.navbar-brand:hover {
	color: #fff;
}
.event__image img {
	max-width: 100%;
	height: auto;
}
.home__title {
	margin-top: 4em;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 6px 15px #fff, 0 -6px 15px #fff;
}
.section--odd,
.section--even {
	padding-top: 60px;
	padding-bottom: 60px;
}
.section--odd {
	background: #fff;
}
.section--even {
	background: #0E5C83;
	color: #fff;
}
.information-title {
	margin-bottom: 20px;
	color: #0E5C83;
	font-family: 'Helvetica';
	font-weight: bold;
}
.listview {
	margin:0;
	padding:0;
}
.listview > li {
	overflow: hidden;
	list-style: none;
}
.listview > li > a {
	position: relative;
	display: block;
	text-decoration: none !important;
}
.listview > li > a:after {
	content: "";
	position: absolute;
	display: block;
	width: 22px;
	height: 22px;
	top: 2em;
	right: 0.5em;
	opacity: 0.4;
	background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20points%3D%223.404%2C2.051%208.354%2C7%203.404%2C11.95%205.525%2C14.07%2012.596%2C7%205.525%2C-0.071%20%22%2F%3E%3C%2Fsvg%3E");
	background-position: center center;
	background-repeat: no-repeat;
}
.listview > li > a:hover::after {
	opacity: 0.6;
}
.listview--news > li > a {
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
}
.listview--news > li:first-child > a {
	border-top: 1px solid #ccc;
}
.listview--events > li > a {
	display: inline-block;
	width: 100%;
	margin-top: 4.5px;
	margin-bottom: 4.5px;
	border: 1px solid #999;
	border-radius: 2px;
}
.listview--events > li > a:hover {
	border-color: #333;
}
.listview--events > li > a:after {
	top: 1.5em;
}
.section__title {
	margin-bottom: 0.5em;
	font-size: 2.2em;
	text-transform: uppercase;
}
.section__subtitle {
	margin-bottom: 0.1em;
	font-weight: bold;
	font-size: 1.1em;
}
.news__title {
	font-weight: bold;
}
.news__date {
	color: #808080;
	font-style: italic;
}
.news__content,
.news__image {
	margin-top: 25px;
}
.news__thumbnail__container {
	height: 40px;
}
.listview .event__name {
	padding-top: 20px;
	color: #333;
	font-size: 15px;
}
.listview .event__date {
	color: #fff;
	max-width: 70px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: #0E5C83;
	border-right: 1px solid #A9A9A9;
}
.event__date__day {
	font-size: 25px;
	font-weight: bold;
}
.event__date__month {
	font-size: 15px;
}
.event__date__container {
	color: #0E5C83;
}
.event__date {
	font-weight: bold;
}
.event__image {
	margin-top: 20px;
}
.event__description {
	margin-top: 20px;
}
.field-profile {
	min-height: 400px;
	padding: 25px;
}
.sidebar-menu {
	width: 100%;
}
.btn-sidebar-menu {
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}
.btn-sidebar-menu:active,
.btn-sidebar-menu:focus {
	box-shadow: none;
}
.visi,
.misi,
.alamat {
	margin-top: 50px;
}
/* xs */
@media (max-width: 767px) {
	.section {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.box {
		padding: 15px;
	}
}
/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
	.section {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
	
}
/*lg*/
@media (min-width: 1200px) {
	
}