/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	padding-top: 50px;
	background: rgb(247, 247, 247);
	font-family: 'Open Sans', sans-serif;
}
.form-control:focus {
	box-shadow: none;
}
.loader {
	display: block;
	margin: 25px auto;
}
.callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
	background: #ffffff;
}
.callout-info {
	border-left-color: #5bc0de;
}
.box {
	display: block;
	padding: 20px;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.box--login,
.box--register {
	margin: 0 auto;
	/*text-align: center;*/
}
.box--login {
	max-width: 350px;
}
.box--register {
	max-width: 800px;
}
.post {
	margin-top: 15px;
}
.post:hover {
	-webkit-box-shadow: 0 0 15px -5px #ccc;
	-moz-box-shadow: 0 0 15px -5px #ccc;
	box-shadow: 0 0 15px -5px #ccc;
}
.section {
	padding: 20px 0;
}
.box__title,
.box__subtitle {
	/*color: #03A9F4;*/
	color: #0E5C83;
}
.box__title {
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 15px;
	text-align: center;
	/*font-size: 2.5em;*/
	font-weight: bold;
	/*font-family: 'Open Sans';*/
	border-bottom: 1px solid #d5d5d5;
}
.navbar-primary {
	background: #0E5C83;
	border-color: #e7e7e7;
}
.navbar-brand,
.navbar-nav>li>a {
	color: #fff;
	text-shadow: none;
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus {
	color: #0E5C83;
	background-color: #fff;
}
.navbar-primary .navbar-nav > .active > a {
	color: #0E5C83;
	background-image: none;
	background-color: #fff;
}
.navbar-toggle .icon-bar {
	background-color: #fff;
}
.footer {
	margin-top: 25px;
	padding: 20px;
	background-color: #fff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
.post__user__name {
	display: inline-block;
	font-size: larger;
	font-weight: bold;
}
.post__user__picture {
	width: 25px;
	height: 25px;
	display: inline-block;
}
.post__content,
.post__category {
	margin-top: 10px;
}
.post__category {
	padding-top: 10px;
	border-top: 1px solid #cecece;
}
.cdc-form__content {
	height: 80px;
}
.gallery {
	display: inline-block;
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 25px;
}
.form-group {
	margin-bottom: 20px;
}
.dropdown-menu {
	padding: 0;
	border-radius: 0;
}
.dropdown-menu > li > a {
	padding: 10px 15px;
	color: #fff;
	background: #0E5C83;
}
.dropdown-menu > li > a:hover {
	background-image: none;
	background-color: #fff;
}
.box--register .form-group .field-double-height {
	min-height: 118px;
}
.chart-container {
	margin-top: 40px;
}
.user__label {
	margin-top: 10px;
	font-weight: bold;
}
.user__name {
	margin-top: 10px;
}
.text-information {
	margin-top: 15px;
}
.col-thumbnail {
	display: inline-block;
	height: auto;
}
.gallery {
	min-height: 1000px;
}
/* xs */
@media (max-width: 767px) {
	.section {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.box {
		padding: 15px;
	}
}
/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
	.section {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
	
}
/*lg*/
@media (min-width: 1200px) {
	
}