

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* { margin: 0; padding: 0; box-sizing: border-box; }
body {
	padding-top: 50px;
	background: rgb(247, 247, 247);
}
.chat-form { background: #000; padding: 3px; bottom: 0; width: 100%; }
.chat-form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
.chat-form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
.loader {
	display: block;
	margin: 25px auto;
}
.callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
	background: #ffffff;
}
.callout-info {
	border-left-color: #5bc0de;
}
.box {
	display: block;
	margin-top: 15px;
	padding: 20px;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.jumbotron .box-login,
.jumbotron .box-register {
	margin: 0 auto;
	max-width: 350px;
	text-align: center;
}
.box__title {
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 15px;
	font-size: 2.5em;
	font-weight: bold;
	font-family: 'Open Sans';
	border-bottom: 1px solid #d5d5d5;
}
.navbar-primary {
	background: #f8f8f8;
	border-color: #e7e7e7;
}
.footer {
	margin-top: 25px;
	padding: 20px;
	background-color: #fff;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}
.post__user__name {
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	color: #333;
}
.post__user__picture {
	width: 25px;
	height: 25px;
	display: inline-block;
}
.post__content,
.post__category {
	margin-top: 7px;
}
textarea.cdc-form__content {
	height: 80px;
}
.gallery {
	margin-top: 25px;
}



